.main {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    padding-block: 5%;
    flex-direction: column;
    gap: 5rem;
}

.droparea {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 100%;
    background-color: var(--clr-general-shade-2);
    border-radius: 15px;
}

.droparea img {
    height: 70%;
    max-height: 15rem;
}

.droparea p {
    margin-top: 20px;
    font-size: 20px;
    color: var(--clr-general-shade-3);
}

.active {
    border: 5px dotted var(--clr-general-shade-3);
}

.file_dialog {
    display: none;
}

.upload-button {
    padding-block: 10px;
    padding-inline: 30px;
    background-color: var(--clr-general-shade-2);
    border: transparent;
    font-size: 20px;
    border-radius: 15px;
    color: var(--clr-general-shade-3);
}

.upload-button:focus {
    border: 5px solid var(--clr-general-shade-3);
}
